{% extends "layout.html" %}

{% block content %}
	{% if user.is_authenticated %}
		<script>
			var count = 0;
			var countor = 0;
			var countand = 0;
			var checkboxesclicked = [];
			var lastclicked = ""
			var firstclicked = ""
			
			var inner = '<div id = "toadd"><select name = "logic"><option value = "and" selected>AND</option><option value = "or"> OR </option></select> <select name = "filter"><option value = "word" selected> Word</option> {% for key in filter %}<option value = "{{key}}">{{key}} </option>{% endfor %}</select><select name = "content"><option value = "contains" selected> Contains </option><option value = "is"> Is (exactly) </option></select><input type = "Search" name = "text" placeholder = "Search a training..." required> <input type ="button" value = "-" onclick = "deletediv(this.parentElement.id)"/></div>'

			function addand(){
				var element = document.getElementById("toadd");
				element.id = count;
				var textvar = "text";
				var content = "content";
				var filter = "filter";
				var logic = 'logic'
				var selectfilter = document.getElementsByName(filter)[0].setAttribute("name",count + 'filter');
				var selectcontent = document.getElementsByName(content)[0].setAttribute("name",count + 'content');
				var textelement = document.getElementsByName(textvar)[0].setAttribute("name",count + 'text');
				var logicelement = document.getElementsByName(logic)[0].setAttribute("name", count + 'logic');
				var add = document.getElementById(count);
				document.getElementById("lastfield").setAttribute("name",count);
				add.insertAdjacentHTML("afterEnd", inner);
				lastclicked = "and";
				count++;
				countand++;
			}
			function deletediv(elementid){
				var numelems = document.getElementsByTagName("div").length;
				document.getElementById(elementid).remove();
				var count = document.getElementById("lastfield").getAttribute("name");
				document.getElementById("lastfield").setAttribute("name",count-1);
				if (numelems === 5){			
						document.getElementById(count).setAttribute("id","toadd");
						document.getElementsByName(count +"filter")[0].setAttribute("name",'filter');
						document.getElementsByName(count +"content")[0].setAttribute("name",'content');
						document.getElementsByName(count +"text")[0].setAttribute("name",'text');
						document.getElementsByName(count + "logic")[0].setAttribute("name",'logic');
						lastclicked = "";
				}		
			}

			function clickedbox(element){
				var name = element.name;
				var elements = document.getElementsByName(name);
				if (element.checked === true){
					elements[1].style.display = "block";
				}else{
					elements[1].style.display = "none";
					elements[1].selectedIndex = 0;
				}

			}
		</script>

  		<a class="lead" href="{% url 'logout' %}">Log out </a>
  		<a href = "{% url 'search' %}"> Search </a>
  		<form action = "../advancedfound/ " method = 'post'>
  		{% csrf_token %}
    	{{ form.as_p }}
    	{% for field in pairvalues%}
    		<input type = "checkbox" onclick = "clickedbox(this)" name = "{{field.0}}-{{length}}"> {{field.0}}<br/>
    		<select name = "{{field.0}}-{{length}}" style = "display: none">
    			<option value = "Any" selected> Any </option>
    			{%for value in field.1%}
    				<option value = {{value}}>{{value}} </option>
    			{%endfor%}
    		</select>
    	{%endfor%}
    		<div id = "lastfield">
	    		<div id = "toadd">
	    			<select name = "logic" style = "display:none">
	    				<option value = "first" selected>first</option>
	    			</select>
		  			<select name = "filter">
		  				<option value = "word" selected> Word</option> 
						{% for key in filter %}
							<option value = "{{key}}">{{key}} </option>
						{% endfor %}
					</select>
					<select name = "content">
						<option value = "contains" selected> Contains </option>
						<option value = "is"> Is (exactly) </option>
					</select>
					<input type = "Search" name = "text" placeholder = 'Search a training...' required>
				</div>
			</div>
			<input type = "button" name = "and" value = "+" onclick= "addand()"/>
			<input type = "submit" value = "submit" />
			
		</form>
		

	{% else %}
       <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock content %}