{% extends "layout.html" %}

{% block content %}
	{% if user.is_authenticated %}
		<script>
			var count = 0;
			var countor = 0;
			var countand = 0;
			var checkboxesclicked = [];
			var lastclicked = ""
			var firstclicked = ""
			var innerand = '<div id = "toadd"><span name = "and"> AND </span><select name = "andfilter"><option value = "word" selected> Word</option> {% for key in filter %}<option value = "{{key}}">{{key}} </option>{% endfor %}</select><select name = "andcontent"><option value = "contains" selected> Contains </option><option value = "is"> Is (exactly) </option></select><input type = "Search" name = "andtext" placeholder = "Search a training..." required><input type ="button" value = "-" onclick = "deletediv(this.parentElement.id,this.parentElement.firstChild)"/></div>'
			
			var inneror = '<div id = "toadd"><span name = "or"> OR </span> <select name = "orfilter"><option value = "word" selected> Word</option> {% for key in filter %}<option value = "{{key}}">{{key}} </option>{% endfor %}</select><select name = "orcontent"><option value = "contains" selected> Contains </option><option value = "is"> Is (exactly) </option></select><input type = "Search" name = "ortext" placeholder = "Search a training..." required> <input type ="button" value = "-" onclick = "deletediv(this.parentElement.id,this.parentElement.firstChild)"/></div>'

			function addand(){
				var element = document.getElementById("toadd");
				element.id = count;
				var textvar = "text";
				var content = "content";
				var filter = "filter";
				if (count === 0){
					firstclicked = "and";
				}
				if(document.getElementsByTagName("div").length == 4){
					firstclicked = "and"
				}
				if(lastclicked === "and" ){
					textvar = "andtext";
					content = "andcontent";
					filter = "andfilter";
				}else if (lastclicked === "or"){
					textvar = "ortext";
					content = "orcontent";
					filter = "orfilter";
				}
				var selectfilter = document.getElementsByName(filter)[0].setAttribute("name","andfilter"+count);
				var selectcontent = document.getElementsByName(content)[0].setAttribute("name",'andcontent'+count);
				var textelement = document.getElementsByName(textvar)[0].setAttribute("name",'andtext'+count);
				var add = document.getElementById(count);
				document.getElementById("lastfield").setAttribute("name",count);
				add.insertAdjacentHTML("afterEnd", innerand);
				lastclicked = "and";
				count++;
				countand++;
			}
			function addor(){
				var element = document.getElementById("toadd");
				element.id = count;
				var textvar = "text";
				var content = "content";
				var filter = "filter";
				if (count === 0){
					firstclicked ="or";
				}
				if(document.getElementsByTagName("div").length == 4){
					firstclicked = "or"
				}
				if(lastclicked === "and" ){
					textvar = "andtext";
					content = "andcontent";
					filter = "andfilter";
				}else if (lastclicked === "or"){
					textvar = "ortext";
					content = "orcontent";
					filter = "orfilter";
				}
				var selectfilter = document.getElementsByName(filter)[0].setAttribute("name",'orfilter'+count);
				var selectcontent = document.getElementsByName(content)[0].setAttribute("name",'orcontent'+count);
				var textelement = document.getElementsByName(textvar)[0].setAttribute("name",'ortext'+count);
				var add = document.getElementById(count);
				document.getElementById("lastfield").setAttribute("name",count);
				add.insertAdjacentHTML("afterEnd", inneror);
				lastclicked = "or";
				count++;
				countor++;
			}

			function deletediv(elementid,span){
				var numelems = document.getElementsByTagName("div").length;
				document.getElementById(elementid).remove();
				var count = document.getElementById("lastfield").getAttribute("name");
				document.getElementById("lastfield").setAttribute("name",count-1);
				if (numelems === 5){			
						document.getElementById(count).setAttribute("id","toadd");
						document.getElementsByName(firstclicked+"filter"+count)[0].setAttribute("name",'filter');
						document.getElementsByName(firstclicked+"content"+count)[0].setAttribute("name",'content');
						document.getElementsByName(firstclicked+"text"+count)[0].setAttribute("name",'text');
						lastclicked = "";
				}			
			}

			function clickedbox(element){
				var name = element.name
				console.log(name);
				var elements = document.getElementsByName(name);
				if (element.checked === true){
					elements[1].style.display = "block";
				}else{
					elements[1].style.display = "none";
				}

			}

			function changelogic(){
				var divs = document.getElementById("lastfield").childNodes;
				for(var i = 2; i<divs.length-1; i++){
					var logic = divs[i].firstChild.getAttribute("name");
					var text = divs[i].childNodes;
					for (var j = 0; j<text.length; j++){
						if (text[j].type === "search"){
							var attr = text[j].getAttribute("name")
							var varattr = attr.split("text");
							text[j].setAttribute("name",logic+"text"+varattr[1])
						}
					}								
				}
				
			}
		</script>

  		<a class="lead" href="{% url 'logout' %}">Log out </a>
  		<a href = "{% url 'search' %}"> Search </a>
  		<form action = "../advancedfound/ " method = 'post'>
  		{% csrf_token %}
    	{{ form.as_p }}
    	{% for field in pairvalues%}
    		<input type = "checkbox" onclick = "clickedbox(this)" name = "{{field.0}}-{{length}}"> {{field.0}}<br/>
    		<select name = "{{field.0}}-{{length}}" style = "display: none">
    			<option value = "Any" selected> Any </option>
    			{%for value in field.1%}
    				<option value = {{value}}>{{value}} </option>
    			{%endfor%}
    		</select>
    	{%endfor%}
    		<div id = "lastfield">
	    		<div id = "toadd">
	    			<span name = "and" style = "display:none"> AND </span>
		  			<select name = "filter">
		  				<option value = "word" selected> Word</option> 
						{% for key in filter %}
							<option value = "{{key}}">{{key}} </option>
						{% endfor %}
					</select>
					<select name = "content">
						<option value = "contains" selected> Contains </option>
						<option value = "is"> Is (exactly) </option>
					</select>
					<input type = "Search" name = "text" placeholder = 'Search a training...' required>
				</div>
			</div>
			<input type = "button" value = "AND" onclick= "addand()"/>
			<input type = "button" value = "OR" onclick= "addor()"/>
			<input type = "submit" value = "submit" onclick = "changelogic()"/>
			
		</form>
		

	{% else %}
       <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock content %}