{% extends "layout.html" %}

{% block body %}
	{% if user.is_authenticated %}
	<style>
		table{
			font-size: 15px;
			font-family: 'Sumana', serif;
			/*font-style: italic;*/
			background-color:white;
			text-align: center;
		}
		th{
			font-size: 20px;
		}
		h2{
			background-color:rgba(255,255,255,0.8); 
			text-align: center; border: 2px solid;
			font-family: 'Orbitron', sans-serif; 
			font-size:50px;
	</style>

  		<h2> {{text}} has given the following results: <h2>
        <table class="table table-bordered">
			<head>
				<tr>
					<th> Title </th>
					<th> Description </th>
				</tr>
			</head>
				{% for training in data %}
				<tr>
					<td> <a href = "{%url 'showtraining'%}?id={{training.id}}" target = "_blank">{{training.title}}</a></td>
					<td> {{training.description}}</td>
				</tr>
				{% endfor %}
			</table>
	{% else %}
       <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock body %}