{% extends "layout.html" %}

{% block content %}
	{% if user.is_authenticated %}
  		<a class="lead" href="{% url 'logout' %}">Log out </a>
  		<h1> Your results for the search: {{text}} ...</h1>
        <table class="table table-bordered">
			<head>
				<tr>
					<th> Title </th>
					<th> Description </th>
					<th> Nº Coincidencias </th>
				</tr>
				{% for training in data %}
				<tr>
					<td> <a href = "{%url 'showtraining'%}?training={{training.0.title}}">{{training.0.title}}</a></td>
					<td> {{training.0.description}}</td>
					<td> {{training.1}}</td>

				</tr>
				{% endfor %}
		</table>

	{% else %}
       <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock content %}