{% extends "layout.html" %}

{% block content %}
	{% if user.is_authenticated %}
        <p class="display-4">Hello, {{ user.last_login }}</p>
        <a class="lead" href="{% url 'logout' %}">Log out </a>
        <table class="table table-bordered">
			<head>
				<tr>
					<th> Title </th>
					<th> Description </th>
				</tr>
				{% for training in data.resources %}
				<tr>
					<td> {{training.resource.title}}</td>
					<td> {{training.resource.description}}</td>
				</tr>
				{% endfor %}
		</table>

	{% else %}
       <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock content %}