<!DOCTYPE html>
<html>
<head>
	<title>Cysectrainingface</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Orbitron|Sumana&display=swap" rel="stylesheet">
	<script>
		function w3_open() {
		  document.getElementById("main").style.marginLeft = "25%";
		  document.getElementById("mySidebar").style.width = "25%";
		  document.getElementById("mySidebar").style.display = "block";
		  document.getElementById("openNav").style.display = 'none';
		}
		function w3_close() {
		  document.getElementById("main").style.marginLeft = "0%";
		  document.getElementById("mySidebar").style.display = "none";
		  document.getElementById("openNav").style.display = "inline-block";
		}
	</script>
	<style type="text/css">
	  body {
	    background: url('https://asuevents.asu.edu/sites/default/files/cybersecurity_education_consortium_rev_9-12-16.00_00_15_13.still001.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover
	  }
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="{% url 'usefulinfo'%}">Useful information</a>
			<a class="navbar-brand" href="{% url 'aboutus' %}">About us</a>
			{% block content %}
				{% if user.is_authenticated %}
				<a class="navbar-brand" href="{% url 'search' %}">Search</a>
				<a class="navbar-brand" href = "{% url 'advanced' %}">Advanced Search</a>
				<a class="navbar-brand" href = "{% url 'logout' %}">Log out</a>
				{%else%}
				<a class="navbar-brand" href = "{% url 'login' %}">Log in</a>
				{%endif%}
			{%endblock content%}
		</div> 	
	</nav>
    <div class="container">
	    {% block body%}
	    {% endblock body %}
	    
    </div>
</body>
</html>