{% extends "layout.html" %}

{% block body %}
	{% if user.is_authenticated %}
	<style type="text/css">
		.container-center {
		    background: rgba(255,255,255,0.6);
		   /* border-radius: 1%;*/
		    position: absolute;
		    top:50%;
		    left:40%;
		    width:50%;
		    margin-left:-200px;
		    height:300px;
		    margin-top:-150px;
		    border:2px solid #111111;
		    padding:5px;
		  }
		  .btn{
		    background-color: #555555;
		    color: white;
		    border: 2px solid #555555;
		  }
		  .btn:hover{
		    background-color: white;
		    color: #555555;
		  }
	</style>
		<div class = 'container-center'>
			<div class = "w3-display-middle" style = "width:75%">
		  		<form action = "../found/ " method = 'post'>
		  		{% csrf_token %}
		    	{{ form.as_p }}
		  			<input type = "Search" class = "w3-input w3-border w3-animate-input" name = "text" placeholder = 'Search a training...'  required>
		  			<div style="margin-left: 43%; margin-top: 5%">
						<input type = "submit" class = "btn" value = "Search"/>
					</div>
				</form>
			</div>
		</div>
	{% else %}
       <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock body %}