{% extends "layout.html" %}

{% block content %}
	{% if user.is_authenticated %}
		<style>
			.centerparent {
			  height: 200px;
			  /*IMPORTANTE*/
			  display: flex;
			  justify-content: center;
			  align-items: center;
			}

			.centerchild {
			  width: 200px;
			}
		</style>
		<div class = 'w3-display-middle' style = "width:75%; background-color:grey; height: 50%">
			<div class = "w3-display-middle" style = "width:75%"
	  		<form action = "../found/ " method = 'post'>
	  		{% csrf_token %}
	    	{{ form.as_p }}
	  			<input type = "Search" class = "w3-input w3-border w3-animate-input" name = "text" placeholder = 'Search a training...'  style="width:30%" required>
				<input type = "submit" class= "w3-round-xlarge" value = "Search"/>
			</form>
		</div>
	{% else %}
       <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock content %}